<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Notif_Sender.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NotifSender.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Notif_Sender.My.MySettings>
      <setting name="wa_el_send" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_invalid" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="telegramID" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="wa_el_chat" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_search" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_contact" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="sms_el_send" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="sms_el_input_num" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="sms_el_input_chat" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="notif_cookie" serializeAs="String">
        <value>MDL</value>
      </setting>
      <setting name="notif_token" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="wa_el_new" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_noContact" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_menu" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_logout" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_qrcode" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="sms_el_new" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="sms_el_send2" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_skip1" serializeAs="String">
        <value>abc</value>
      </setting>
    </Notif_Sender.My.MySettings>
    <NotifSender.My.MySettings>
      <setting name="wa_el_button_send_val" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_button_fail_val" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_invalid_number_val" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="telegramID" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="wa_el_textarea_chat_val" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_button_send_atr" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_textarea_search_val" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_chatHistory_val" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="wa_el_clear_search_val" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="sms_el_new_button_val" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="sms_el_input_num_val" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="sms_el_input_chat_val" serializeAs="String">
        <value>abc</value>
      </setting>
      <setting name="notifCookie" serializeAs="String">
        <value>MDL</value>
      </setting>
      <setting name="notif_token" serializeAs="String">
        <value />
      </setting>
      <setting name="wa_el_invalidText" serializeAs="String">
        <value>abc</value>
      </setting>
    </NotifSender.My.MySettings>
  </userSettings>
</configuration>
